/*
colours
db = #022F40
purp = #5F4BB6
lpurp = #86A5D9
teal = #58A4B0
whiteish = #F5F3F5
*/

ul, h1, h2, h3, h4, h5,h6 {
	margin: 0;
	padding: 0;
}

body{
	background:#022F40;
	color: #F5F3F5;
}

.container{
	margin: 25px auto;
	width: 100%;
	max-width: 400px;

}

/*form section*/

.clearCtrls button{
	margin: 1em 0;
}

#mainHead{
	padding-top: 1em;
	text-align: center;
}

form[name="tasksForm"]{
	margin-top: 1em;
}

/*tasks section*/
/*******************Classess for lst-Chkbox Directive**************************/
.lstChkbox{
	position:relative;
}

.lstChkbox input[type="checkbox"]{
	display:none;
}

.lstChkbox svg{
	position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:0;
  border: 2px solid #F5F3F5;
  stroke-width:2;
}

.lstChkbox label{
	color: #F5F3F5;
  font-size:1.5em;
  padding-left:40px;
  word-wrap:break-word;
  cursor:pointer;
	display:inline-block;
  vertical-align:top;
}

.lstChkbox path{
	stroke-dashoffset:220;
  stroke-dasharray:220;
  transition:stroke-dashoffset 0.2s linear;
}

.lstChkbox input[type="checkbox"]:checked + label svg path{
  stroke-dashoffset:0;
}
/******************************************************************************/
#itemLst{
	min-width: 280px;
}

ul{
	list-style: none;
	list-style-position: inside;
}

li{
	border-bottom: 1px solid #58A4B0;
	padding: 1em;
	width:100%;
}

li:last-child{
	margin-bottom: 2em;
}


/*responsive*/

@media (min-width: 450px){
	.container{
		border: 1px solid white;
		border-radius: 10px;
	}
}

