<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/custom.css" rel="stylesheet" type="text/css">
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<title>To Do!</title>
</head>

<body>

	<div ng-controller="toDoCtrl" class="container">
		<div id="mainHead">
			<h1>{{remaining()}} Items Left to Do!</h1>
			<form class="form-inline" name="tasksForm" ng-submit="addTask()" autocomplete="off">
				<div class="input-group">
					<input class="form-control input-sm" type="text" name="tasks" ng-model="task" required>
					<div class="input-group-btn">
						<button class="btn btn-default btn-sm" ng-disabled="tasksForm.$invalid">
							Add
						</button>
					</div>
				</div>
			</form>
			<div class="clearCtrls">
				<button class="btn btn-default btn-sm" ng-click="clearComplete()">Clear Completed</button>
				<button class="btn btn-default btn-sm" ng-click="clearAll()">Clear All</button>
			</div>
		</div>
		<div id="itemLst">
			<ul>
				<li ng-repeat="toDo in toDos track by $index" >
					<div class="row">
						<div class="col-xs-1">
							<input type="checkbox" ng-model="toDo.done">
						</div>
						<div class="col-xs-10" ng-class="{strike: toDo.done}">
							<p class="listTxt">{{toDo.item}}</p>
							<lst-Chkbox check-id="{{'customChk'+$index}}" ng-model="toDo.done"></lst-Chkbox>
							{{toDo.done}}
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>